*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html ,body {
    height: 100%;
width: 100%;
}
main{
    height: 100vh;
    width: 100vw;
    position: relative;
    font-family: montserrat;

}
.part1 {
    height: 55vh;
    width: 100vw;
    background-color: #282222;
    color: white;
    

}
.borderimg{
    display: flex;
}
.borderimg img{
    width: 25vw;
    height: 55px;
    
}
.part1 .upper {
    /* background-color: aqua; */
    height: 80%;
    width: 100%;
    display: flex;
    padding: 1.5rem;
    justify-content: space-around;
    padding-top: 3rem;

}
.upper h3{
 font-size: 1.2rem;
}
.upper p {
    /* background-color: brown; */
    color: #a3a8ab;
    padding: 8px 0px;
     margin: 8px 0px;
}
.upper .upper1 {
    width: 25%;
    /* background-color: #d1e67e; */
}
.part1 .lower {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    margin-left: 5rem;
    margin-right: 3rem;

}
.part1  p {
    display: flex;
    justify-content: left;
    align-items: center;
    /* background-color:aquamarine; */
    gap: 10px;
}
